<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Appender to log to file in a JSON format -->
    <!--
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>127.0.0.1:4560</destination>
        &lt;!&ndash; encoder is required &ndash;&gt;
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>
    -->
    <appender name="LOGSTASH" class="com.cwbase.logback.RedisAppender">
        <source>api-server-1</source>
        <sourcePath>api-server-1</sourcePath>
        <type>api-server</type>
        <tags>api-server-1</tags>
        <host>redis</host>
        <port>6379</port>
        <database>0</database>
        <key>logstash</key>
    </appender>
    <root level="INFO">
        <appender-ref ref="LOGSTASH"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>